html {
    background: black;
}

.hidden {
    display: none;
}

/**
bar moving from right to left and vice versa
 */
.gradientBar {
    width: 160px;
    height: 100%;
    position: fixed;
    animation: 6s infinite ease-in-out barAnimation;
    z-index: 0;
}

@keyframes barAnimation {
    0% {
        right: calc(0vw - 160px);
    }
    65% {
        right: 110vw;
    }
    100% {
        right: calc(0vw - 160px);
    }
}

.owl {
    width: 100px;
    position: fixed;
    z-index: 3;
    animation: 5s infinite linear owl-animation;
}

@keyframes owl-animation {
    from, to {
        margin-top: 0;
        margin-left: 0;
    }

    25% {
        margin-top: calc(100vh - 100px);
        margin-left: calc(100vw - 100px);
    }

    50% {
        margin-top: calc(100vh - 100px);
        margin-left: 0;
    }

    75% {
        margin-top: 0;
        margin-left: calc(100vw - 100px);
    }
}

.centeredContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.rabbitHalf {
    z-index: 12;
}


.rabbit {
    position: fixed;
    z-index: 2;
}

#rabbitLeft {
    height: 2000px;
    animation: 5s infinite alternate ease rabbit-slide-left;
}

#rabbitRight {
    height: 2000px;
    animation: 5s infinite alternate ease rabbit-slide-right;
}

@keyframes rabbit-slide-left {
    from {
        margin-left: calc(50vw - 318px);
    }

    to {
        margin-left: 0;
    }
}

@keyframes rabbit-slide-right {
    from {
        margin-left: calc(50vw);
    }

    to {
        margin-left: calc(100vw  - 318px);
    }
}

.topRight {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

#scrollerContainer {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 2%;
    z-index: 100;
}

#scroller {
    width: 100%;
    z-index: 5;
}

#scrollerContainer2 {
    position: fixed;
    top: 0px;
    width: 100%;
}

@keyframes scroll-text {
    from {
        left: 100%;
        transform: translate(0, 0);
    }

    to {
        left: 0;
        transform: translate(-100%, 0);
    }
}

.snowflake {
    position: fixed;
    bottom: 0;
    width: 40px;
    z-index: 1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-name: snowflake;
}

@keyframes snowflake {
    0% {
        bottom: 100vh;
    }

    100% {
        bottom: 0;
    }
}