@media screen
and (min-device-width: 300px)
and (max-device-width: 1920px)
and (-webkit-min-device-pixel-ratio: 1) {
}

#form_addTeam {
    width: auto;
}

input {
    float:right;
}

.form_innerDiv{
    float:right;
    max-width: 400px;
}

.form_innerLabel{
    float:right;
}

.form_row {
    float:left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.form_row_inner {
    float:left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.textField {
    width:auto;
}

.form_label {
    float:left;
    width:auto;
}

.form_innerLabel {
    float:right!important;
}

#series {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.form_row_flex {
    flex: 1 1 160px;
}

.grid3 {
    display:grid;
    grid-column-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 600px) {
    .form_row_inner {
        width:auto;
        margin-right:0;
        border:0;
    }
    .form_innerDiv {
        float:left;
    }
    .form_data {
        float:left;
    }
    .textField {
        float:left;
        width: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .form {
        display:grid;
        grid-column-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.button {
    float:left;
}

.errorMessage{
    color: red;
}

.invalid {
    border-color: red;
}